* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


input[type="text"], select {
    padding:10px 20px;
    margin: 10px;
    
    
    border-radius:5px;
	border:2px solid #0a0a0a;
    
}

select, input[type="checkbox"] {
    cursor: pointer;
}

input[type="submit"] {
    margin: 10px;
    margin-bottom: 20px;
    padding: 1px 5px;
    background-color:#79bbff;
    border-radius:5px;
    cursor:pointer;
    font-size:20px;
    font-weight:bold;
    text-shadow:0px 1px 0px #528ecc;
}

input[type="submit"].add, input[type="submit"].history {
	box-shadow: 3px 5px 0px 0px #4a3988;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#050505;
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
input[type="submit"]:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

input[type="submit"].history {
    background-color: #9bc8f5;
    background:linear-gradient(to bottom, #bcd7f3 5%, #71ace7 100%);
    box-shadow: 3px 5px 0px 0px #122070;

}

h1 {
	text-align: center;
	font-family: 'Noto Sans TC', serif;
	margin: 20px;
	border: 10px groove rgb(151, 32, 151);
}

h2 {
    font-size: 32px;
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    font-weight: bolder;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px;

}

p, label, select {
    font-size: 20px;
    font-weight: bold;
}

input, select {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

input[type="checkbox"] {
    padding: 5px;
    margin: 5px;
}

form {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 5px;

}
input.item-list {
    margin-left: auto;
    

}

form.add, form.history {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
}

input.add, #importance, input.history {
    width: 90%;
    border: 1px solid black;
}

.hidden {
    display: none;
}

.box-one, .box-two, .box-three, .box-four {
    border: 1px solid black;
    width: 300px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    overflow-wrap: break-word;
    overflow-wrap: break-all;
    
}

.box-one {
    background: rgb(209, 133, 133);
}

.box-two {
    background: rgb(226, 231, 150)
}

.box-three {
    background: rgb(230, 225, 168)
}

.box-four {
    background: rgb(132, 233, 132)
}

p.checked {
    text-decoration: line-through;
    opacity: 0.5;
}



@media screen and (min-width: 600px) {
    h1 {
		text-align: center;
		font-family: 'Noto Sans TC', serif;
		margin: 20px;
		border: 10px groove rgb(151, 32, 151);
	}

    h2 {
        margin-left: 100px;
    }

    form.add, form.history {
        margin-left: 100px;
    }

    input.add, #importance, input.history {
        width: 40%;
        border: 1px solid black;
    }
    
    .boxes-one-and-two, .boxes-three-and-four {
        display: flex;
        justify-content: center;
        
    }

    .box-one, .box-two, .box-three, .box-four {
        margin: 10px;
    }

    .box-one {
        border-radius: 10px 0 0 0;
    }

    .box-two {
        border-radius: 0 10px 0 0;
    }

    .box-three {
        border-radius: 0 0 0 10px ;
    }

    .box-four {
        border-radius:  0 0 10px 0;
    }

}

@media screen and (min-width: 820px) {
    h2, form.add, form.history {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    input.add, #importance, input.history {
        width: 30%;
        border: 1px solid black;
    }

    .box-one, .box-two, .box-three, .box-four {
        margin: 10px;
        overflow: auto;
        width: 400px;
        min-height: 300px;
    }

}